p {
    font-size: 1em;
}

#business-card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -130px;
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
}

#business-card > :first-child, #business-card > :last-child {
    margin: 0;
}

#name {
    font-size: 1.5em;
}